 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    header{
        padding: 50px 10px;
    } 
    .d-nav{
        display: none;
    }
    .d-hambuguer{
        display: block;
        width: 30px;
    }
    .logo-chirp{
        font-size: 1.6rem;
    }
    #first-section{
        padding: 0px 10px;
        flex-direction: column-reverse;
    }
    #left-section{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #left-section h1{
        font-size: 2rem;
        width: 100%;
    }
    #left-section > p{
        margin-top: 10px;
        font-size: 1.1rem;
        line-height: 1.7rem;
        color: var(--grey2);
        width: 100%;
    }
    #right-section{
        width: 100%;
        margin-bottom: 50px;
    }
    #right-section img{
        width: 100%;
        height: 100%;
    }
    #left-section-div-button{
        display: flex;
        flex-direction: column;
    }
    #left-section-div-button button{
        width: 100%;  
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding: 17px 40px;
        font-size: 1.2rem;
    }
    #left-section-div-button p{
        margin-top: 20px;
        font-size: 1.2rem;
        cursor: pointer;
    }
    #avatars{
        margin-top: 20px;
    }
    #avatars img{
        width: 50px;
    }
    #end-left-section p{
        margin-top: 20px;
        font-size: 1.1rem;
        line-height: 1.7rem;
        color: var(--grey2);
        width: 100%;
    }
    
    #second-section{
        padding: 100px 10px;
    }
    #second-section h2{
        font-size: 2.3rem;
        width: 100%;
        margin-bottom: 20px;
    }
    #cards-1 , #cards-2{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 100%;
        height: fit-content;
        border: 1.7px solid var(--border-1);
        border-radius: 5px;
        padding: 20px;
        box-sizing: border-box;
    }
    .paragraph-card{
        font-size: 1.4rem;
    }
    #third-section h2{
        font-size: 2.5rem;
        margin-bottom: 30px;
    }
    #third-section-cards{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .t-s-card{
        background-color: var(--white);
        padding: 30px;
        height: fit-content;
        width: 100%;
        margin: 20px auto;
        border-radius: 5px;
        box-sizing: border-box;
    }
    .d-none{
        display: block;
    }
    #third-section{
        padding: 50px 10px;
    }
    #fourth-section{
        padding: 150px 10px;
    }
    .end-div-texts{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .end-div-texts h2{
        font-size: 2rem;
    }
    .end-div-texts p{
        font-size: 1.2rem;
        color: var(--grey2);
        margin-top: 10px;
    }
    .end-card{
        width: 100%;
        box-sizing: border-box;
        margin: 30px auto;
    }
    .end-card > p{
        font-size: 1.5rem;
    }
    .end-card > p strong{
        font-size: 3rem;
    }
    .checkmark-div-p p{
        font-size: 1.3rem;
    }
    .end-card button{
        padding: 22px 20px;
        font-size: 1.1rem;
    }
    footer{
        padding: 40px 10px;
    }
    footer nav a{
        margin: 0px;
        margin-left: 5px;
        font-size: 1rem;

    }
    
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    header{
        padding: 50px 30px;
    } 
    .d-nav{
        display: none;
    }
    .d-hambuguer{
        display: block;
        width: 35px;
    }
    .logo-chirp{
        font-size: 2rem;
    }
    #first-section{
        padding: 0px 30px;
        flex-direction: column-reverse;
    }
    #left-section{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #left-section h1{
        font-size: 3.1rem;
        width: 100%;
    }
    #left-section > p{
        margin-top: 10px;
        font-size: 1.5rem;
        line-height: 2.3rem;
        color: var(--grey2);
        width: 100%;
    }
    #right-section{
        width: 100%;
        margin-bottom: 50px;
    }
    #right-section img{
        width: 100%;
        height: 100%;
    }
    #left-section-div-button{
        display: flex;
        flex-direction: column;
    }
    #left-section-div-button button{
        width: 100%;
        justify-content: center;
    }
    #left-section-div-button p{
        margin: 20px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #avatars{
        margin-top: 20px;
    }
    #avatars img{
        width: 57px;
    }
    #end-left-section p{
        margin-top: 10px;
        font-size: 1.5rem;
        line-height: 2.4rem;
        color: var(--grey2);
        width: 90%;
    }
    
    #second-section{
        padding: 100px 30px;
    }
    #second-section h2{
        font-size: 2.9rem;
        width: 100%;
        margin-bottom: 20px;
    }
    #cards-1 , #cards-2{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 100%;
        height: fit-content;
        border: 1.7px solid var(--border-1);
        border-radius: 5px;
        padding: 20px;
        box-sizing: border-box;
    }
    .paragraph-card{
        font-size: 1.5rem;
    }
    #third-section h2{
        font-size: 3rem;
        margin-bottom: 50px;
    }
    #third-section-cards{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .t-s-card{
        background-color: var(--white);
        padding: 30px;
        height: fit-content;
        width: 85%;
        margin: 20px auto;
        border-radius: 5px;
    
    }
    #third-section{
        padding: 50px 30px;
    }
    #fourth-section{
        padding: 150px 0px;
    }
    .end-div-texts{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .end-card{
        width: 80%;
    }
    .checkmark-div-p p{
        color: var(--grey2);
        font-size: 1.7rem;
        margin-bottom: 20px 
    }
    footer{
        padding: 40px 20px;
    }
    
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    header{
        padding: 50px 20px;
    } 
    .logo-chirp{
        font-size: 1.8rem;
    }
    #first-section{
        padding: 0px 20px;
        flex-direction: column-reverse;
    }
    #left-section{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #left-section h1{
        font-size: 4.5rem;
        width: 100%;
    }
    #left-section > p{
        margin-top: 10px;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: var(--grey2);
        width: 100%;
    }
    #right-section{
        width: 100%;
        margin-bottom: 50px;
    }
    #right-section img{
        width: 100%;
        height: 100%;
    }
    #second-section{
        padding: 100px 20px;
    }
    #second-section h2{
        font-size: 3.5rem;
        width: 100%;
        margin-bottom: 20px;
    }
    #cards-1 , #cards-2{
        display: flex;
        flex-direction: column;
    }
    .card{
            width: 100%;
            height: fit-content;
            border: 1.7px solid var(--border-1);
            border-radius: 5px;
            padding: 20px;
            box-sizing: border-box;
    }
    
    .paragraph-card{
        font-size: 1.389rem;
    }
  
    #third-section{
        padding: 50px 20px;
    }
    #third-section-cards{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .t-s-card{
        background-color: var(--white);
        padding: 30px;
        height: fit-content;
        width: 80%;
        margin: 20px auto;
        border-radius: 5px;
    }
    #fourth-section{
        padding: 150px 0px;
    }
    .end-div-texts{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .end-card{
        width: 80%;
    }
    .checkmark-div-p p{
        color: var(--grey2);
        font-size: 1.6rem;
        margin-bottom: 20px 
    }
    footer{
        padding: 40px 20px;
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    header{
        padding: 50px 20px;
    }
    #left-section h1{
        font-size: 3.7rem;
        width: 85%;
    }
    #right-section{
        width: 40vw;
        margin-bottom: 50px;
    }
    #first-section{
        padding: 0px 20px;
    }
    #second-section{
        padding: 100px 20px;
    }
    #second-section h2{
        font-size: 2.5rem;
        width: 40%;
        margin-bottom: 20px;
    }
    .paragraph-card{
        margin-top: 15px;
        font-size: 1.2rem;
        line-height: 2.4rem;
        color: var(--grey2);
    }
    #third-section{
        padding: 50px 20px;
    }
    .t-s-card > p{
            margin-top: 20px;
            font-size: 1.3rem;
            line-height: 2.4rem;
            color: var(--grey2);
        }
    #fourth-section{
        padding: 150px 0px;
    }
    .end-div-texts h2{
        font-size: 2.7rem;
    }
    .end-div-texts p{
        font-size: 1.4rem;
    }
    footer{
        padding: 40px 20px;
    }
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1540px) {
    header{
        padding: 50px 45px;
    }
    #right-section{
        width: 40vw;
        margin-bottom: 50px;
    }
    #first-section{
        padding: 0px 45px;
    }
    #second-section{
        padding: 100px 45px;
    }
    #third-section{
        padding: 50px 45px;
    }
    #fourth-section{
        padding: 150px 0px;
    }
    footer{
        padding: 40px 45px;
    }
 }